<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<body>
Article search

<form action="#" th:action="@{/start/articleSearch.html}" th:object="${searchArticleDTO}" method="post">
    <p>Article name: <input type="text" th:field="*{articleName}" /></p>
    <p>Article description: <input type="text" th:field="*{articleDescription}" /></p>
    <p>Article price: From
        <input type="number" th:field="*{lowerPrice}" /> to
        <input type="number" th:field="*{upperPrice}" /></p>
    <p>Category name:
        <select th:field="*{categoryName}">
            <option th:each="cat : ${categoryList}" th:value="${cat}" th:text="${cat}">
            </option>
        </select>
    </p>
    <p><input type="submit" value="Search" /> <input type="reset" value="Reset" /></p>
</form>

<table>
    <thead>
    <tr>
        <th> Article name </th>
        <th> Article description </th>
        <th> Article price </th>
        <th> Article category name </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${filteredArticles.empty}">
        <td colspan="2"> No Articles Available </td>
    </tr>
    <tr th:each="articleDTO : ${filteredArticles}">
        <td><span th:text="${articleDTO.articleName}"> Name </span></td>
        <td><span th:text="${articleDTO.articleDescription}"> Description </span></td>
        <td><span th:text="${articleDTO.articlePrice}"> Price </span></td>
        <td><span th:text="${articleDTO.categoryName}"> Category </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>